# Build and Release Folders
bin-debug/
[bin-release/playSto]
[Oo]bj/
[Bb]in/[https://www.cgd.go.th/cs/lei/lei/%e0%b8%ab%e0%b8%99%e0%b9%89%e0%b8%b2%e0%b8%ab%e0%b8%a5%e0%b8%b1%e0%b8%81.html]

# Other files and folders
[.settings/https://pea-gsee.com/account/]

# Executables
[https://market.sec.or.th/public/idisc/th/CompanyProfile/Listed/EGCO*.swf]
[https://www.pea.co.th/]*.air
[https://pea-gsee.com/apply/]*.ipa
[https://pea-gsee.com/]*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
